body {
    background-color: #2A2D3E;
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome {
    font-family: "Ubuntu-Bold";
    color: #08F0F0;
    font-size: 44px;
    margin: 10px;
}

.gostos {
    margin: 10px;
    color: #FF1B5A;
    font-size: 22px;
}

.lista {
    color: #50FA7B;
}

.divisor {
    color: #08F0F0;
}

.periodo {
    color: #FF1B5A;
    font-size: 22px;
    margin: 10px;
}

.linkpuc {
    color: #50FA7B;
}

.secao1 {
    background-color: #414462;
    border-style: solid;
    border-width: 1px;
    border-color: #50FA7B;
    margin-bottom: 20px;
}

.secao2 {
    background-color: #414462;
    border-style: solid;
    border-width: 1px;
    border-color: #FF1057;
    padding: 10px;
}

.secao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #414462;
    border-style: solid;
    border-width: 1px;
    border-color: #00F1F6;
    padding: 10px;
}

.secao4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #414462;
    border-style: solid;
    border-width: 1px;
    border-color: #FF1057;
    padding: 10px;
}

.inputNome {
    background-color: #414462;
    border: 2px solid #FF1057;
    border-radius: 4px;
    height: 20px;
    font-family: "Ubuntu";
    font-size: 14px;
    padding: 0px 3px;
    margin-bottom: 10px;
}

.inputIdade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414462;
    border: 2px solid #FF1057;
    color: #FF1057;
    border-radius: 4px;
    height: 20px;
    width: 30px;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 14px;
    padding: 0px 3px;
}

.idadeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIdade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414462;
    border: 2px solid #FF1057;
    border-radius: 4px;
    text-align: center;
    color: #FF1057;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.botaoAlerta {
    font-family: "Ubuntu-Bold";
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #414462;
    border: 2px solid #FF1057;
    border-radius: 4px;
    text-align: center;
    color: #FF1057;
    cursor: pointer;
    height: 24px;
    width: 80px;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}